/**************google font font:roboto is imported *******************************/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

/* utility */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1440px;
  height: auto;
  background: #ffffff;
  margin-top: 40px;
  
}

/* header section style  start*/
header {
  background-color: #1f618d;
  
  height: 677px;
}
.checkbtn {
  color: #ffffff;
  font-size: 40px;
  line-height: 80px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
.menu-section {
  margin-top: 0px;
}
ul {
  display: flex;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 250px;
  padding-top: 20px;
  margin-top: 0;
}
ul li {
  display: inline;
  list-style-type: none;
}
li a {
  padding: 10px 30px;
  font-style: 16px;
  text-decoration: none;
  color: #ffffff;
  background: #1f428d;
  border-radius: 10px;
  margin-right: 10px;
  transition: 0.7s;
  opacity: .9;
}
li a:hover {
  border-radius: 30px;
  transition: ease-in-out;
  opacity: 1;
}
.menu-button a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 30px;

  background: #e02c6e;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0);
  text-align: center;

  transition: 0.5s;
}
.menu-button i {
  padding-right: 20px;
}

.header-section {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;
}
.slogan {
  font-size: 64px;
  font-weight: bold;
  line-height: 80px;
  
  height: 230px;
  margin-left: 100px;
  margin-top: 207px;
}
header .button {
  margin-top: 100px;
  margin-left: 100px;
  margin-bottom: 169px;
}

.button a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 30px;

  background: #e02c6e;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0);
  text-align: center;

  transition: 0.5s;
}
.button a:hover {
  border-radius: 20px;
}
.button i {
  padding-left: 20px;
}

.banner img {
  width: 550px;
  height: 438px;
  margin-left: 80px;
  margin-right: 5px;
}

.banner img:hover {
  transform: rotateY(360deg);
  transition: transform 5s ease-in-out;
  cursor: pointer;
}
/* header section style end */

/* about player section start */
.top-player {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.player {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 474px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

  background-color: #ffffff;
}
.player-info {
  text-align: justify;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}
.player-describe {
  color: #6c6c6c;
  font-size: 14px;
}
.player-title {
  color: #18191f;
  font-size: 28px;
}

.player-photo img {
  width: 300px;
  height: 256px;

  margin-left: 15px;
  margin-top: 15px;
}

/* about player section end */

/* sponsor section design start */
.sponsor {
  
  margin-top: 40px;
  
  
}
.sponsor-logo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 190px;
  margin-right: 100px;  
  padding-bottom: 30px;
  padding-top: 40px;
  padding-left: 70px;

  grid-gap:20px;
  
  background:#ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
}
.sponsor img {
  width: 250px;
  height: 220px;
  
}
/* sponsor section design end*/

/* newsletter section design start */

.newsletter {
  display: flex;
  background-color: #151515;
  margin-left: 190px;
  margin-right: 100px;
  height: 300px;
  padding-top: 40px;
  
  margin-top: 40px;
}

.newsletter-image img{
  width: 500px;
  height: 300px;
  
  
}
.newsletter-text {
  color:#ffffff;
  width: 450px;
  margin-top: 5px;

  
  
}
.newsletter-text h2{
  font-size: 30px;
  font-weight: bold;
}

.newsletter-text input {
  padding: 10px 30px;
  font-size: 16px;
  font-weight: bold;
}
.newsletter-text a{
  color:#ffffff;
  text-decoration: none;
  padding: 12px 25px ;
   margin: 0px;
  font-size: 14px;
  font-weight: bold;
  background: #e1306c;
}
.newsletter-text p{
  font-size: 14px;
  color:darkgray;
}
/* newsletter section design end */

/* footer part style  start*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 483px;
  height: 213px;
  margin-left: 400px;
  margin-right: 481px;
}
.football-logo img {
  width: 400px;
}
.social-contacts a {
  text-decoration: none;
  color: #969bab;
}
.fab {
  background: #969bab52;
  font-size: 20px;
  padding: 6px 6px;
  border-radius: 50%;
  margin-right: 14px;
}
.social-contacts a:hover .fa-instagram {
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  color: #ffffff;
}
.social-contacts a:hover .fa-dribbble {
  background: #ea4c89;
  color: #ffffff;
}
.social-contacts a:hover .fa-twitter {
  background: #00acee;
  color: #ffffff;
}
.social-contacts a:hover .fa-youtube {
  background: #ff0000;
  color: #ffffff;
}
.copyright {
  padding-top: 20px;
  font-size: 18px;
  font-weight: 400;
}
/* footer part style  end*/

/* responsive for mobile design */


@media only screen and (max-width: 668px) {
  .container {
    width: 600px;
    height: 3750px;
    flex-direction: column;
  }
  .header-section{
    flex-direction: column;
    width: 400px;
    
  }
  .slogan {
    margin-top: 40px;
    font-size: 35px;
  }
  .banner img {
    width: 250px;
    height: 300px;
  }
  header .button {
    margin-top: 10px;
    margin-left: 100px;
    margin-bottom: 19px;
  }
  .top-player {
    
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
  .player {
    width: 440px;
  }
  .player-photo img {
    width: 400px;
    
  
    margin-left: 5px;
    margin-top: 5px;
  }
  .sponsor{
    display: none;
    
  }
  .newsletter{
    display: none;
  }
  


  footer{
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 53px;
    margin-left: 400px;
    margin-right: 481px;
  }
}

